<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaharashtraWonders</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="first">
        <header>
            <nav class="navbar" id="navbar">
                <div class="container">
                    <i id ="menu" class="fa-solid fa-bars" style="visibility: hidden;"></i>
                    <!-- <a href="#" class="logo">MaharashtraWonders</a> -->
                    <a href="#" id="logo"><img src="Assets/logoMW.png" alt=""></a>
                    <ul class="content">

                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="Destinations.html">Destinations</a></li>
                        <li><a href="Activites.html">Activites</a></li>
                        <button id="profile"></button>
                        <button id="SignIn" ><a href="/login">SignIn</a></button>
                    </ul>

                </div>
            </nav>
        </header>
        <div class="main">
            <h1 class="headline">Experience the magic of Maharashtra</h1>
            <h2 class="slogan">"A land of diverse landscapes, rich heritage, and endless possibilities."</h2>
        </div>
    </div>
    <!-- <div class="section"></div> -->
    <div class="second">
        <main>
            <div class="slider-container">
                <div class="slider">
                    <img src="Assets/Assets for home/Auranagabad.jpg" alt="Image 1">
                    <img src="Assets/Assets for home/TajMahal.jpg" alt="Image 2">
                    <img src="Assets/Assets for destination/Temple.jpg" alt="Image 3">
                </div>
            </div>
            <div class="text">
                <h4>"Discover why our website is the ultimate destination to explore Maharashtra, offering unparalleled
                    insights, curated experiences, and endless inspiration for your next adventure."</h4>
            </div>
        </main>
        <h1 id="part">Explore Maharashtra with Our Top Picks!</h1>
        <div class="buttons" id="filter">
            <a href="#historicalPlaces" class="button">Historical places </a>
            <a href="#Hillstations" class="button">Hill stations </a>
            <a href="#Trek places" class="button">Trek places</a>
            <a href="#Temples" class="button">Temples</a>
        </div>
        <div class="containerCard">

            <!-- Historical Places -->
            <div class="historicalPlaces" id="historicalPlaces">
                <h2 class="subhead">Historical Places</h2>
                <div class="part1">
                    <div class="card">
                        <h2 class="cardHeading">Raigad Fort </h2>
                        <img src="Assets/123.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="connect.html" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Daulatabad Fort </h2>
                        <img src="Assets/daulatabad.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Ratnadurga Fort </h2>
                        <img src="Assets/ratnadurgfort.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Korali Fort </h2>
                        <img src="Assets/Korali Fort.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                </div>
            </div>

            <!-- Hill stations -->
            <div class="Hillstations" id="Hillstations">
                <h2 class="subhead">Hillstations</h2>
                <div class="part1">
                    <div class="card">
                        <h2 class="cardHeading">Malshej</h2>
                        <img src="Assets/Assets for destination/waterfall.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="connect.html" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Nan</h2>
                        <img src="Assets/lonavala.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/Assets for destination/Western Ghats (Matheran, Mahabaleshwar, Lonavala).jpeg"
                            alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/Korali Fort.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                </div>

            </div>


            <!--  Trek places-->
            <div class="Trek places" id="Trek places">
                <h2 class="subhead">Trek places</h2>
                <div class="part1">
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/Assets for destination/Kalsubai Trek (Ahmednagar).jpg" alt="Card Image"
                            class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="connect.html" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="assets1/waterfall.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/malshej.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/Assests for card/Kalsubai Trek (Ahmednagar).jpg" alt="Card Image"
                            class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                </div>

            </div>



            <!-- Temples -->
            <div class="Temples" id="Temples">
                <h2 class="subhead">Temples</h2>
                <div class="part1">
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/Assets for destination/Temple.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="connect.html" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/nandur-madhyameshwar.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="Assets/Assests for card/Image2.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                    <div class="card">
                        <h2 class="cardHeading">Card Heading</h2>
                        <img src="assets1/Temple.jpg" alt="Card Image" class="cardImage">
                        <div class="PlaceInfo">
                            <h4>Name of the picture</h4>
                        </div>
                        <a href="#" class="button">View Details </a>
                    </div>
                </div>

            </div>
        </div>



        <!-- footer -->
        <!-- Your website content here -->
        <footer>
            <div class="footer-content">
                <div class="png"><img src="Assets/map.png" alt=""></div>
                <div class="footer-section">
                    <h3>About Us</h3>
                    <p>We are a team of passionate travelers who love to explore new places and cultures. </p>
                </div>
                <div class="footer-section">
                    <h3>Contact Us</h3>
                    <ul>
                        <li>Email: <a href="maharashtrawonders@gmail.com">maharashtrawonders@gmail.com</a></li>
                        <li>Phone: +91-7124454512</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">YouTube</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p id="copy">&copy; 2024 MaharashtraWonders. All rights reserved.</p>
                <button id="back-to-top"><a href="#top">Back to Top</a></button>
            </div>
        </footer>

        <script src="script.js"></script>

</body>

</html>